<h2>Welcome to Chitter!</h2>
<h4>If you have an account, sign in here:</h4>
  <form action="creating_a_new_session" method="post">
    <label for="email">email</label>
    <input type="text" name="email">
    <label for="password">password</label>
    <input type="text" name="password">
    <input type="submit" value="Submit">
  </form>
<h4>Otherwise, sign up here:</h4>
<form action="sign_up" method="get">
  <input type="submit" name="action" value="Sign up" />
</form>
<ul>
  <% @peeps.reverse.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>
