<h2>Welcome to Chitter!</h2>
<h4>Share a comment with your friends:</h4>
<form action="/new_comment" method="post">
  <label for="comment">
    Post a new comment here
    <input type="text" name="comment">
  </label>
  <input type="submit" value="Submit">
</form>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>
