<h2>Hi there, Start using Chitter right now!</h2>
<h4>Please sign in with your details first:</h4>
<form action="/chitter" method="get">
  Email:      <input type="text" name="email"><br>
  Password:   <input type="text" name="password"><br>
  Name:       <input type="text" name="name"><br>
  User name:  <input type="text" name="user_name"><br>
  <input type="submit" value="Submit">
</form>
