<h4>Hi <%= @user.name %>, share a post with your friends:</h4>
<form action="/new_peep" method="post">
<label for="peep">
  Post a new peep here:
  <input type="text" name="peep">
</label>
<input type="submit" value="Submit">
</form>
<ul>
  <% @peeps.reverse.each do |peep| %>
    <li><%= User.get_user_by_id(peep.user_id.to_i).name %> said "<%= peep.text %>" @ <%= peep.timestamp %></li>
  <% end %>
</ul>
<form action="/sessions/destroy" method="post">
  <input type="submit" name="action" value="Sign out" />
</form>
